<div class="home-container">
  <!-- Transparent Navbar -->
  <nav
    class="navbar navbar-expand-lg navbar-light bg-transparent position-absolute w-200"
    style="z-index: 1000;"
  >
    <div class="title">Voyamate</div>
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button class="btn btn-light nav-btn1" (click)="onNavClick('Itineraries')">
              Itineraries
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-light nav-btn1" (click)="onNavClick('Travel Community')">
              Travel Community
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-light nav-btn1" (click)="onNavClick('My Itineraries')">
              My Itineraries
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-light nav-btn" (click)="onNavClick('My Account')">
              My Account
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Background Images Section -->
  <div class="background-images">
    <!-- Search Bar Component -->
    <div class="search-container" style="margin-bottom: 200px;">
      <app-search-box></app-search-box>
    </div>

    <!-- Travel Cards Section -->
    <div class="travel-cards-container" style="margin-left: 140px;">
      <div class="row gx-2 gy-2 justify-content-center">
        <div class="col-md-4" *ngFor="let card of travelCards">
          <app-travel-card
            [imageUrl]="card.imageUrl"
            [category]="card.category"
            [author]="card.author"
            [title]="card.title"
            [description]="card.description"
          ></app-travel-card>
        </div>
      </div>
    </div>
  </div>
</div>
