<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card" style="width: 400px">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Recover Password</h5>
      <form
        (ngSubmit)="handleRecover(forgotPasswordForm)"
        #forgotPasswordForm="ngForm"
      >
        <div class="mb-3 position-relative">
          <div class="position-relative">
            <input
              [type]="isVisible ? 'text' : 'password'"
              class="form-control"
              id="password"
              name="password"
              ngModel
              required
              minlength="6"
              maxlength="20"
              #password="ngModel"
              placeholder="Enter your password"
            />
            <i
              [ngClass]="isVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
              class="position-absolute top-50 end-0 translate-middle-y pe-3"
              (click)="isVisible = !isVisible"
            ></i>
          </div>
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            <small *ngIf="password.errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="password.errors?.['minlength']"
              >Password must have at least 6 characters.</small
            >
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-orange w-100"
          [disabled]="forgotPasswordForm.invalid"
        >
          Send Reset Link
        </button>
      </form>
    </div>
  </div>
</div>
