.ngx-toastr {
    
    width: 400px !important; 
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap";
@import "~bootstrap-icons";
@import "ngx-toastr/toastr";
