<div class="card shadow-sm" style="width: 18rem">
    <img 
      [src]="imageUrl" 
      class="card-img-top" 
      alt="Card Image" 
      style="height: 8rem; object-fit: cover;">
    <div class="card-body">
      <a href="#" class="text-warning fw-bold">{{ category }}</a>
      <span class="text-muted">By {{ author }}</span>
      <h5 class="card-title mt-2">{{ title }}</h5>
      <div style="height: 20px;">
        <p class="card-text text-secondary">{{ description }}</p>

      </div>
      <div>
        
      </div>
      <div style="margin-top: 10px;">
        <button class="btn btn-warning text-white w-100">View More</button>

      </div>
    </div>
  </div>
  