<div class="card shadow-sm" style="width: 18rem;">
    <img 
      [src]="imageUrl" 
      class="card-img-top" 
      alt="Card Image" 
      style="height: 12rem; object-fit: cover;">
    <div class="card-body">
      <a href="#" class="text-warning fw-bold">{{ category }}</a>
      <span class="text-muted">By {{ author }}</span>
      <h5 class="card-title mt-2">{{ title }}</h5>
      <p class="card-text text-secondary">{{ description }}</p>
      <button class="btn btn-warning text-white w-100">View More</button>
    </div>
  </div>
  