.my-account-container {
    display: flex;
    height: 100vh; 
  }
  
  .my-account-container app-sidebar {
    flex: 0 0 270px; 
    height: 100%; 
  }
  
  .my-account-container .content {
    flex-basis: 30%;
    max-width: 30%; 
    padding: 20px; 
    overflow-y: auto; 
  }
  