<div class="sidebar">
  <div class="profile">
    <img
      src="assets/images(4).png"
      alt="User Avatar"
      class="avatar"
    />
    <div class="text-container">
      <h4>Weiwei WANG</h4>
      <p>Standard Member</p>
    </div>
  </div>
  <ul class="menu" >
    <li>
      <a routerLink="personal-information" routerLinkActive="active">
        <i class="bi bi-person icon"></i>
        <span>Personal Information</span>
      </a>
    </li>
    <li>
      <a routerLink="user-itineraries" routerLinkActive="active" >
        <i class="bi bi-map icon"></i>
        <span>My Itineraries</span>
      </a>
    </li>
    <li>
      <a routerLink="memo" routerLinkActive="active">
        <i class="bi bi-book icon"></i>
        <span>My Memories</span>
      </a>
    </li>
    <li>
      <a routerLink="logout" routerLinkActive="active">
        <i class="bi bi-box-arrow-left icon"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
